body {
  margin: 0 auto;
  background-color: #263238;
  color: #263238;
  font-size: 35px;
  font-family: 'Baloo', sans-serif;
  width: 100%;
  line-height: 1.25;
}

.weather {
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  background-color: #e0e0e0;


}

#icon {
  position: absolute;
  width: 500px;

}

.info {
  margin: 0 auto;
  padding-top: 200px;
  width: 300px;
  position: relative;
  text-align: center;

}
#temperature {
  font-size: 45px;

}

#degrees {
  font-size: 25px;

}
button {
  border: none;
  display: inline-block;
  background-color: Transparent;
  color: #263238;
  font-family: 'Baloo', sans-serif;
  font-size: 16pt;
  cursor: pointer;
  cursor: hand;

}

.selected {
  text-decoration: underline;

}

.tempStyle {
  font-size: 20px;

}

.place {
  font-size: 45px;

}
